defaults: &defaults
  password_secret: 'c-r-a-v-e'
  title: 'giorno'
  description: 'giorno description'
  author: 'giorno'
  open_id:
    uid: 'open_id identity url'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
