#entries
  - @entries.each do |entry|
    .entry
      .info
        .title= link_to entry.title, edit_admin_entry_path(entry)
        .timestamps
          .created_at= entry.created_at
          .updated_at= entry.updated_at
      .body= entry.body
